@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

body {

	background: gray ;
	color: white;
	margin: 0;
	background-color: white;
		
}
.mySlides {
	border-style: solid;
    border-color: #000066;
border-width: 6px;
 margin-bottom: -5%; margin-left: 0.02%; margin-top: 0%;
}


		 .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1px 10px 23px 10%; 
    text-decoration: none;
}

 .dropdown:hover .dropbtn {
    background-color: rgba(0, 0, 0, 0.4);
    height: 32px;
    margin-top: -11px;
    padding: 15px 10px 20px 10%;
    text-decoration: underline;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;

    background-color: #404480;
    min-width: 160px;
    box-shadow: 10px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.dropdown-content a {
	 font-size: 20px;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
	background-color: rgba(0, 0, 0, 0.4);
	 text-decoration: underline;}

.dropdown:hover .dropdown-content {
    display: block;

}


#grad1 {

    height: 150px;
   /* background:  #4682B4; /* For browsers that do not support gradients */    
    /*background: -webkit-linear-gradient(left top, #4682B4 20%, #000066 100%); /* For Safari 5.1 to 6.0 */
    /*background: -o-linear-gradient(bottom right, #4682B4 20%, #000066 100%); /* For Opera 11.1 to 12.0 */
    /*background: -moz-linear-gradient(bottom right, #4682B4 20%, #000066 100%); /* For Firefox 3.6 to 15 */
    /*background: linear-gradient(to bottom right, #4682B4 20%, #000066 100%); /* Standard syntax (must be last) */

     /*height: 200px;*/
    background: -webkit-linear-gradient(left,#404480 2%, #000066 100%;) /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #404480 2%, #000066 100%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #404480 2%, #000066 100%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #404480 2%, #000066 100%); /* Standard syntax (must be last) */
   
    }
    /*#4682B4 #000066*/
.image
{
	margin-top: -1px;
	float: left;
	padding-left: 15px;
}
.ECI
{
	
	/*background-color: gray;*/
	font-size: 25px;
	height: 30px;	
	padding-right: 100px; 
	
}
.Commissioner
{
	border-color: #36486b;
	border-width: 5px;
	border-style: solid;
}
header
{
	/*background: #000066;*/
	 background: -webkit-linear-gradient(left,#36486b 2%, #000066 100%;) /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #36486b 2%, #000066 100%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #36486b 2%, #000066 100%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #36486b 2%, #000066 100%); /* Standard syntax (must be last) */
   
	opacity: 1;
	color: white; 
	padding: 15px 0px 2px 30px ;
	 font-family: 'Roboto Slab', serif;
	font-size: 25px;
	height: 55px;
	margin-top: 0px;


	/*#405580*/
	
}
header h1 
{
display: inline;
	font-family: 'Roboto Slab', serif; 
}
nav ul
{
	display: inline;
	padding: 0px;
	/*float: left;*/
}
nav ul li
{
	display: inline-block;
	list-style-type: none;
	color: white;
	float: left;

	margin-left: 45px;
}
nav ul li a
{
	color: white;

	text-decoration: none;
	font-size: 25px;
}
#nav{
	font-family: 'Roboto Slab', serif;
}

.homered
{
	background-color: red;
	padding: 15px 10px 25px 10px;
	text-decoration: underline;
}
.homered:hover
{
	text-decoration: underline;
}
.divider
{
	background-color: red;
	height: 5px ;

}
.homeblack
{
	padding: 15px 10px 25px 10px;
}
.homeblack:hover
{
	
	background-color: rgba(0, 0, 0, 0.4);
	padding: 15px 10px 25px 10px;
	text-decoration: underline;
}


.container
{
	position: relative;
	width: 30%;
	top: 10%;
	left: 10%;
}
/*.imgregister
{
	display: block;
	width: 100%;
	height: auto;
}*/
/*
.overlay
{
	position: absolute;
	top: 50%;
	bottom: 0;
	left: 0%;
	right: -40%;
	height: 100%;
	width: 62.80%;
	opacity: 0;
	transition: .5s ease;
	background-color: #008CBA;
	border-radius: 200%;
	transform: translateY(-50%);
	 
}

.container:hover .overlay
{
	opacity: 1;
}
.text
{
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}*/

/*.main
{
background-image: url(top_banner_29082017.jpg);
width: 100%;
height: 100%;
background-repeat: no-repeat;
background-size: cover;
}*/

.main
{

/*background-image: url(bg1.jpg);*/
margin-top: 0%;
width: 100%;
height: 96%;
background-repeat: no-repeat;
background-size: cover;
}


/*#footer
{
	margin-top: 7%;
	background:#333;
	overflow: hidden;
	opacity: .8;
}*/

/*---footer starts----*/
h3
{
	font-size: 190%;
	text-transform: uppercase;
}

footer
{
	background: #191966;
	overflow: hidden;
	opacity: .9;
	height: 130px;

}
#footer-inner
{
	max-width: 1200px;
	margin: 0 auto;
}
footer .one-third{
	width: 45%;
	margin-top: 1%;
	float: left;

}
footer h3
{
	 /*font-family: 'Roboto Slab', serif;*/
	text-align: center;
	color: #959595;
	margin:0%;
}
footer h5
{

	font-size: 120%;
	padding: 0% 0% 2% 10%;

}
footer p
{
	color: #959595;
	text-align: center;
}
#footer-third
{
	border-right: 1px solid #959595;
	max-height: 125px;
	min-height: 125px;
}
footer a
{
	color: #959595;
	text-decoration: none;
}

.social li
{
	display: inline;
}
.social i
{
	font-size: 245%;
	padding: 0% 20%;
	color: #959595;
	
}
.social i:hover
{
	color: #F5F5F5;
}


h5 a:hover
{
	text-decoration: underline;
	color: white;
}

/*---footer second----*/
footer.second
{
	border-top: 1px solid #4D4E50;
	max-height: 50px;
	padding-bottom: 1%;
	opacity:.95;
}